// STYLES
@mixin clear {
    margin: 0;
    padding: 0;
}

@mixin clear-list {
    @include clear;
    list-style: none;
}

@mixin clear-and-border-box {
    @include clear;
    box-sizing: border-box;
}

@mixin size($width, $height: $width) {
      width: $width;
      height: $height;
}

@mixin flex-center($dir: column) {
    display: flex;
    flex-direction: $dir;
    justify-content: center;
    align-items: center;
}

@mixin pseudo($display: block, $pos: absolute, $content: ''){
    content: $content;
    display: $display;
    position: $pos;
}

@mixin input-placeholder {
    &.placeholder { @content; }
    &:-moz-placeholder { @content; }
    &::-moz-placeholder { @content; }
    &:-ms-input-placeholder { @content; }
    &::-webkit-input-placeholder { @content; }
}

// MEDIA
@mixin for-landscape-phones-and-portrait-tablets-2 {
    @media (min-width: 810px) and (max-width: 1110px) { @content; }
}

@mixin for-landscape-phones-and-smaller {
    @media (max-width: 810px) { @content; }
}
