// Colors
$global-white: rgba(255, 255, 255, 1);
$global-lilac-blue: rgba(88, 86, 193, 1);
$global-saint-patrick-blue: rgba(48, 47, 105, 1);
$global-cream: rgba(255, 255, 204, 1);
$global-bittersweet: rgba(254, 122, 107, 1);
$global-outrageous-orange: rgba(244, 111, 60, 1);

// Soc. Net. Colors
$global-vk: #506f9b;
$global-fa: #435897;
$global-tw: #5c9eff;
$global-te: #34ADE1;
$global-sk: #2d7bf7;
$global-ok: #EE8208;
$global-wu: #26d367;
$global-pi: #CB2029;

// Size
$global-view-port: 1200px;
