@import '../partials/_params.scss';
@import '../partials/_mixins.scss';

@import url('https://use.fontawesome.com/releases/v5.6.3/css/all.css');

.pseudo-oscar {
    @include clear;
    position: relative;
    box-sizing: border-box;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
        @include clear;
    }
    ul {
        @include clear-list;
    }
    a {
        text-decoration: none;
    }
    button {
        // font-family: 'Lato';
        // font-size: 24px;
        // font-weight: bold;
        // text-align: center;
        // outline: none;
        // border: 1px solid rgba(0, 0, 0, 0);
        // text-transform: uppercase;
        // border-radius: 6px;
        // box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.25);
        // cursor: pointer;
    }

    &__content {
        @include clear-and-border-box;
        .button {
            @include flex-center;
            border: 2px solid red;
            width: 140px;
            height: 40px;
            cursor: pointer;
            background-color: pink;
            border-radius: 4px;
            outline: none;
        }
        #video-gallery {
            @include size(300px);
            cursor: pointer;
            a {
                @include size(300px);
                img {
                    @include size(300px);

                }
            }
        }
    }

    &__loader-box {
        display: none;
    }

    &__intro-box {
        display: none;
    }

    &__vote-box {
        display: none;
    }

    &__results-box {
        display: none;
    }
}
